body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono';
    color: hsl(186, 14%, 43%)
}

.logo {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.calculator {
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    display: flex;
}

.UI-left {
    margin: 5px;
}

#bill {
    background-image: url('../../images/icon-dollar.svg');  
    background-position: 3% 50%;
    background-size: 2%;
    background-repeat: no-repeat;
    background-color: hsl(189, 41%, 97%);
    border: none;
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
}

input {
    text-align: right;
    padding-right: 10px;
    font-size: 24px;
    font-family: 'Space Mono';
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    border-radius: 3px;
    cursor: pointer;
    height: fit-content;
    margin-bottom: 20px;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

  margin: 0;
}

input:focus { 
    outline-color: hsl(172, 67%, 45%);
    box-shadow: 0 0 5px hsl(172, 67%, 45%);
}

.tips-table {
    border-spacing: 10px;
    width: 100%;
}

.tohide {
    color: transparent;
}

.tip-button {
    background-color: hsl(183, 100%, 15%);
    padding: 5px 15px;
    text-align: center;
    border-radius: 4px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

.tip-button:hover {
    background-color: hsl(185, 41%, 84%);
    color: black;
}

#custom-tip {
    border: none;
    margin: 0px;
    background-color: hsl(189, 41%, 97%);
    width: 119px;
}

.UI-rigth {
    margin: 5px;
    background-color: firebrick;
}

